body {
    min-width: 200px;
    overflow-x: hidden;
    padding: 10px;
}

#first-row {
    height: 50px;
    padding: 6px;
    font-size: 24px;
}

.half {
    width: 50%;
    display: inline-block;
    float: left;
}

.hint {
    color: #C2C2C2;
    font-size: 12px;
}

#consumed {
    color: #FF7C15;
}

#fup {
    color: #1569FF;
}

#bb-meter {
    font-size: 57px;
    text-align: center;
    background-color: #0C97D8;
    color: #fff;
    padding: 10px 0;
}

#log {
    display: none;
}

.loading #first-row,
.loading #bb-meter {
    visibility: hidden;
    display: none;
}

.loading #log {
    display: block;
}

#log span {
    display: block;
    width: 300px;
    font-size: smaller;
}

#log span.info {
    color: blue;
}

#log span.error {
    color: red;
}

#log span.success {
    color: green;
}
